@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Raleway&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family:'Raleway', sans-serif;
    font-size: 1rem;
    border: solid transparent 0.1rem;
}

/* HEADER */

.containerP {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: #f1c87a;
    font-family: 'Pathway Gothic One', sans-serif;
    position: fixed;
    top: 0;
    z-index: 16;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

ul,
li {
    display: inline;
    list-style: none;
    text-align: center;
    padding: 15px 10px;
    word-spacing: 15px;
}

a {
    text-decoration: none;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
}

.logo{
    width: 90px;
    height: 90px;
    margin: 5px 25px;
    
}
/* BARRA DE NAVEGACION */

#menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#menu li > a {
    background-color: #f1c87a;
    color: white;
    padding: 10px 25px;
    display: block;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1.5rem;
    border-radius: 44px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all 100ms linear;
}

.modalOpenBtn{
    border: none;
    background-color: #f1c87a;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 44px;
    letter-spacing: 2px;
    padding: 10px 25px;
    margin-left: 20px;
    font-family: 'Pathway Gothic One', sans-serif;

}

#menu  li a:hover {
    background-color: #f1d5a0;
    color: #73482F;
}

.modalOpenBtn:hover{
    background-color: #f1d5a0;
    color: #73482F;
}

#menu > li > ul {
    display: none;
}
#menu > li:hover > ul {
    display: block;
}

/*prueba filtros*/



.botonEspecie{
    border: none;
    outline: none;
    cursor: pointer;
}
.box{
    display: none;
}
.show{
    display: block;
}


/*FILTROS*/

.filtros{
    display: flex;
    flex-direction: column;
}
.filtroContent{
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.filtroContent .filtrosVarios{
    display: flex;
    width: 100%;
}

.filtrosVarios h4{
    font-size: 1rem;
}

.filtrosVarios{
    background-color: #f4e2c2;
}

.botonesEspecie, .botonesTamano, .botonesEdad, .botonesSexo{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content:left;
    align-items: center;
    padding: 2rem 0;
    
}

.botonesEdad .peque{
    font-size: 0.8rem;
    padding: 0.8rem 0;
}

.botonFiltro{
    border: none;
    background-color: #f1c87a;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 44px;
    letter-spacing: 2px;
    padding: 10px ;
    width: 5rem;
    font-family: 'Pathway Gothic One', sans-serif;
}

.textoFiltro{
    text-align: center;
    padding: 2rem;
}
.textoFiltro h1{
    font-size: 2rem;
    padding-bottom: 1rem;
}
.textoFiltro{
    font-size: 1rem;
}

.card img{
    height: 270px;
}

/*GALERIA*/

.galeria{
    padding: 2rem;

}

/*MODAL*/

.modal{
    display: none;
    position: fixed;
    z-index: 15;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.351);
  }

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6be58d0;
    margin: auto;
    color: white;
    border: 1px solid #888;
    width: 50%;
    border: 1px rgb(129, 125, 125) solid;
  }

  .modalClose {
    text-align: right;
    color: #aaaaaa;
    font-size: 30px;
    font-weight: bold;
  }

  .modalClose:hover,
  .modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*MODAL A*/

.contentA, .contentB{
   text-align: center;
   padding: 1rem 2rem; 
}

.contentA select{
    width: 100%;
    border: none;
    font-size: 1rem;
    background-color: #F2F2F2;
    border-radius: 10px;
    color: #747271;
    padding: 0.5rem;
}

label{
    
    font-size: 1.2rem;
    color: white;
}

label:hover{
    color: #73482F;
    background-color: rgba(255, 255, 255, 0.579);
    border-radius: 10px;
}

.submit{
    
    background-color: #F2BA52;
    color: white;
    width: 40%;
    height: 3rem;
    border: solid #F2BA52;
    border-radius: 30px;
    font-size: 1rem;
    margin:0 auto;
}

.submit:hover{
    background-color:#474442 ;
}

.submit:focus{
    box-shadow: 1px 2px 20px -1px #72B3AE;
    border-radius: 30px;
    border: 0.5px #72B3AE solid;
}

/*MODAL B*/

.tituloModalB h2{
    padding: 1rem 0 0;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    /*border: 1px solid;*/
}

.tituloModalB p{
    font-size: 1.5rem;
}

.email input{
    width: 32rem;
}

select{
    width: 20rem;
    border: none;
    font-size: 1rem;
    background-color: #F2F2F2;
    border-radius: 10px;
    color: rgb(92, 91, 91);
    padding: 0.5rem;
}

input{
    background-color: #F2F2F2;
    border: none;
    border-radius: 15px;
    padding: 0.5rem;
    margin: 0.5rem 0;   
}

textarea{
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    padding: 0.8rem;
    margin: 0.5rem 0;
    
}

textarea:focus,input[type=text]:focus{
    box-shadow: 1px 2px 20px -1px #442f09;
    border-radius: 10px;
}

/*FOOTER*/

footer{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    background-image:-webkit-linear-gradient(top left, #73482F, #f1c87a);
    padding: 1rem; 
    margin-top: 1rem; 
}

#enlacesfooter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    
    /*border: solid 1px;*/
}

#enlacesfooter li a{
    padding: 30px;
    text-transform: uppercase;
    color: #73482F;
}

.enlaces{
    padding: 1rem;
}

.enlaces #enlacesfooter{
    padding: rem 0 1rem;
    margin: 0 auto;
    /*border: solid red;*/
}

.enlaces #enlacesfooter a{
    background-color:transparent;
    color: white;
    padding: 0 0.6rem;
    /*border: solid 1px;*/
}

#enlacesfooter li a:hover{
    color: #73482F; 
}

#enlacesfooter li .aqua{   
    padding: 10px 10px;
    margin: 0 10px;
    border-radius: 18px;
}

#enlacesfooter .aqua:focus{
    box-shadow: 1px 2px 3px -1px #F2B6AC;
    border: solid 0.5px;
    border-radius: 18px;
}

.ifooter{
    display: flex; 
   /*border: tomato 1px solid;*/  
}

.f1 a{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 0.3rem;
    margin: 0.5rem 1rem;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
}

.f1 i{
    color: #73482F;
    font-size: 1.3rem;
    
}

.textofinal{
    margin: 1rem auto;
    padding: 1rem 0;
}

.f1:hover a{
    background-color: #73482F;
    border: solid white 0.3px;
    border-radius: 100%;
}

.f1:hover i{
    color: white;
}

.icono1 li{
    padding: 1rem 0;
    /*border: solid 1px;*/
}

.icono1 i{
    
    font-size: 1.2rem;
    padding: 0.5rem;
    margin: 0 0.1rem;
    
}

.icono1 a{
    
    
    font-size: 1rem;
    
}

.icono1:hover i{ 
    background-color: #73482F ;
    padding: 0.5rem;
    border-radius: 50%;
    color: #FFF5F0 ;
    
}

.icono1:hover a{
    color: #73482F;
    text-decoration: none;
}

/*MEDIA QUERIES*/

@media (min-width: 1025px) {
    #hamburguesa-menu {
        display: none;
    }
}
@media (max-width: 1024px) {
    #hamburguesa-menu {
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 20;
    }
    #hamburguesa-menu div {
        height: 6px;
        background-color: black;
        margin-bottom: 7px;
    }
    header {
        height: 100vh;
        display: none;
    }
    header.visible {
        display: block;
    }
    header div,
    .containerMenu,
    #menu {
        height: 100%;
    }
    #menu {
        flex-direction: column;
        justify-content: center;
    }
    #menu li > a {
        font-size: 24px;
    }
}